.footer {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: #313131;
}

.footer p, .footer a {
  font-size: 12px;
  font-weight: 400;
  color: #FFFFFF;
}

.footer__info {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__info-contact a {
  margin: 4px 0;
  display: flex;
  flex-direction: column;
}

